<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.moodmusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChillAndRelax"
            android:label="@string/chill_relax_text_view" />
        <activity android:name=".BeastMode"
            android:label="@string/beast_mode_text_view"/>
        <activity android:name=".Concentration"
            android:label="@string/concentration_text_view"/>
        <activity android:name=".PartyTime"
            android:label="@string/partytime"/>
        <activity android:name=".songs_information">

        </activity>
    </application>

</manifest>